# 部署者私钥 (!!!请务必替换为自己的私钥，并注意保管!!!)
PRIVATE_KEY=*********

# Conflux eSpace RPC
NEXT_PUBLIC_CONFLUX_RPC_URL=https://evm.confluxrpc.com
NEXT_PUBLIC_CHAIN_ID=0x406
NEXT_PUBLIC_CHAIN_NAME="Conflux eSpace"
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://evm.confluxscan.net

# Conflux eSpace Testnet RPC
# NEXT_PUBLIC_CONFLUX_RPC_URL=https://evmtestnet.confluxrpc.com
# NEXT_PUBLIC_CHAIN_ID=0x47
# NEXT_PUBLIC_CHAIN_NAME="Conflux eSpace Testnet"
# NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://evmtestnet.confluxscan.io

# 合约地址（通过 'npm run deploytest' 部署后填写）
NEXT_PUBLIC_FC_TOKEN_ADDRESS=
NEXT_PUBLIC_ORDERBOOK_CONTRACT_ADDRESS= 