[submodule "projects/project_gasless/contracts/lib/openzeppelin-contracts"]
	path = projects/project_gasless/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/project_gasless/contracts/lib/forge-std"]
	path = projects/project_gasless/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
